*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Berlin Sans FB", sans-serif;
}
header{
    text-align: center;
    background-color: #9a293f;
    height: 15vh;
    font-family: "Agency FB", sans-serif;
    position: sticky;
}

header a{
    text-align: start;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

nav{
    /*background-image: linear-gradient(#9a293f, #df3757, #ff5072);*/
    background-color: #df3757;
    width: 20vw;
    height: 120vh;
    text-align: center;
    display: inline-block;
}

#div-nav{
    position: sticky;
    top: 300px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

a:hover{
    color: blue;
}

h1{
    text-align: center;
    display: inline-block;
    line-height: 15vh;
}


img:hover{
    width: 100px;
    border: solid 2px black;
    margin-left: 30px;
    margin-top: 15px;

}

body{
    background-color: #616161;
}

main{
    display: inline-block;
    width: 78.9vw;
    height: 85vh;
    background-color: #616161;
    float: right;
    text-align: center;
}

.card1{
    display: inline-block;
    background-color: #b3b3b3;
    height: 200px;
    width: 350px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.card1:hover{
    background-color: #ece8e8
}
header{
    position: sticky;
    top: 0;
}
